<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body>
<div id="wrapper">
    <div th:replace="fragments/header"></div>
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Be on the drive</h1>
            </header>
            <div class="content">
                <p>Ask a question</p>
                <ul class="actions">
                    <li><a href="contact.html" class="button next scrolly">Contact us</a></li>
                </ul>
            </div>
        </div>
    </section>
    <div id="main">

        <!-- Featured Cars -->
        <section class="tiles">

            <article th:each="o: ${latestOffers}">
                <span class="image">
                    <img src="images/product-1-720x480.jpg" alt=""/>
                </span>
                <header class="major">
                    <p>
                        <i class="fa fa-dashboard" th:text="${o.mileage}"></i>km&nbsp;&nbsp;
                        <i class="fa fa-cog" th:text="${o.transmission}"></i>
                    </p>

                    <h3 th:text="${o.brandName} + ' ' + ${o.modelName}"></h3>

                    <p>
                        <strong th:text="${o.price} + '$'"></strong></p>

                    <p th:text="${o.engine} + '/' + ${o.offerYear}"></p>


                    <!--                    <div class="major-actions">-->
                    <!--                        <a href="car-details.html" class="button small next" th:href="@{/offers/offer-details/{offer-id}(offer-id=${o.id})}">View Car</a>-->
                    <!--                    </div>-->
                </header>
            </article>
        </section>

        <!-- About us -->
        <section>
            <div class="inner">
                <header class="major">
                    <h2>About us</h2>
                </header>
                <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna
                    sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas
                    laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat
                    tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et
                    feugiat tempus.</p>
                <ul class="actions">
                    <li><a href="about-us.html" class="button next">Read more</a></li>
                </ul>
            </div>
        </section>

        <!-- Blog Posts -->
        <section class="tiles">
            <article>
									<span class="image">
										<img src="images/blog-1-720x480.jpg" alt=""/>
									</span>
                <header class="major">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h3>

                    <p><br> <span>John Doe</span> | <span>12/06/2020 10:30 </span> | <span>114</span></p>

                    <div class="major-actions">
                        <a href="blog-details.html" class="button small next scrolly">Read Blog</a>
                    </div>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/blog-2-720x480.jpg" alt=""/>
									</span>
                <header class="major">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h3>

                    <p><br> <span>John Doe</span> | <span>12/06/2020 10:30 </span> | <span>114</span></p>

                    <div class="major-actions">
                        <a href="blog-details.html" class="button small next scrolly">Read Blog</a>
                    </div>
                </header>
            </article>
            <article>
									<span class="image">
										<img src="images/blog-3-720x480.jpg" alt=""/>
									</span>
                <header class="major">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit hic</h3>

                    <p><br> <span>John Doe</span> | <span>12/06/2020 10:30 </span> | <span>114</span></p>

                    <div class="major-actions">
                        <a href="blog-details.html" class="button small next scrolly">Read Blog</a>
                    </div>
                </header>
            </article>
        </section>

        <!-- Testimonials -->
        <section>
            <div class="inner">
                <header class="major">
                    <h2>Testimonials</h2>
                </header>
                <div class="row">
                    <div class="col-6">
                        <p><em>"Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet
                            magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula
                            tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci
                            eu lorem consequat tincidunt."</em></p>
                        <p><strong>- John Doe</strong></p>

                    </div>

                    <div class="col-6">
                        <p><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus dolorum
                            minus repudiandae, eaque error corporis aliquam, architecto amet itaque nobis. Omnis itaque
                            est dolore, a nostrum numquam. Quae, facilis."</em></p>
                        <p><strong>- Jack Smith</strong></p>
                    </div>
                </div>
                <ul class="actions">
                    <li><a href="testimonials.html" class="button next">Read more</a></li>
                </ul>
            </div>
        </section>
    </div>

</div>
<footer th:replace="fragments/footer"/>
<div th:replace="fragments/navbar"></div>
<div th:replace="fragments/scripts"></div>
</body>
</html>
